<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h1>App Venta</h1>

        <button mat-icon-button (click)="sidenav.toggle();">
            <mat-icon>menu</mat-icon>
        </button>

        <span style="flex: 1 1 auto;"></span>
        <label style="font-size: 14px; margin-right: 20px;">{{ correoUsuario }} | {{ rolUsuario }}</label>
        <button mat-icon-button (click)="cerrarSesion()">
            <mat-icon>logout</mat-icon>
        </button>

    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav opened="true" mode="side" style="width:200px;">

        <mat-nav-list>
            <mat-list-item *ngFor="let menu of listaMenus" [routerLink]="menu.url">
                <mat-icon mat-list-icon>{{ menu.icono }}</mat-icon>
                <div mat-line>{{ menu.nombre }}</div>
            </mat-list-item>
        </mat-nav-list>
        
    </mat-sidenav>

    <mat-sidenav-content>
        <div style="height: 90vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>
